
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="./../css/home.css">
    <title>Ankit Mohanty | Portfolio</title>
    <script src="./../assets/script.js" defer></script>
</head>
<body>

<!-- Nav Bar -->
    <div class="logo">
        <h1>ANKIT M.</h1>
    </div>
    <div class="navigation">
      <input type="checkbox" class="navigation_checkbox" id="nav-toggle" >
      <label for="nav-toggle" class="navigation_button">
        <span class="navigation_icon">&nbsp;</span>  
      </label>
      <div class="navigation_background">&nbsp;</div>
      <nav class="navbar">
          <ul class="nav-list">
              <li class="nav-items"><a href="/work" class="nav-links" id="work">Work</a></li>
              <li class="nav-items"><a href="/about" class="nav-links" id="about">About</a></li>
              <li class="nav-items"><a href="/contact" class="nav-links" id="contact">Contact</a></li>
              <li class="nav-items"><a href="https://drive.google.com/file/d/1JbXaKRLgrb4KVLuPp8QRH4RP0MlnfyOn/view?usp=sharing" class="nav-links" target="_blank">Resume</a></li>
          </ul>
      </nav>
    </div>

    {{{body}}}

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-icons">
            <ul class="icons-list">
                <li>
                    <svg class="icons-items">
                        <a href="https://twitter.com/Mohantyankit15" class="icon-links" target="_blank">
                            <use class="social" xlink:href="./assets/sprite.svg#icon-twitter"></use>
                        </a>
                    </svg>
                </li>

                <li>
                    <svg class="icons-items">
                        <a href="https://www.instagram.com/ankit_uiux.designer/" class="icon-links" target="_blank">
                            <use class="social" xlink:href="./assets/sprite.svg#icon-instagram"></use>
                        </a>
                    </svg>
                </li>

                <li>
                    <svg class="icons-items">
                        <a href="https://www.behance.net/ankitmohanty1" class="icon-links" target="_blank">
                            <use class="social" xlink:href="./assets/sprite.svg#icon-behance"></use>
                        </a>
                    </svg>
                </li> 
                
                <li>
                    <svg class="icons-items">
                        <a href="https://www.linkedin.com/in/ankmohan/" class="icon-links" target="_blank">
                            <use class="social" xlink:href="./assets/sprite.svg#icon-linkedin"></use>
                        </a>
                    </svg>
                </li>

                <li>
                    <svg class="icons-items">
                        <a href="/contact" class="icon-links" target="_blank">
                            <use class="social" xlink:href="./assets/sprite.svg#icon-mail2"></use>
                        </a>
                    </svg>
                </li>
            </ul>
        </div>
        <div class="footer-text"> Ankit Mohanty | 
UI/UX Designer | mohantyankit15@gmail.com</div>       
    </footer>

</body>
</html>