<!--header-->
    <header class="header">
        <h1 class="header-primary">About Me</h1>
        <center>
        <h2 class="header-secondary">Ankit is a designer focused on building brands and creating great digital
        <br>experiences for the users.
            <br><br><img class="tara" src="./../assets/✨.svg" alt="tara">   
        </h2>
        </center> 

    </header>

    <main class="main">
        <img class="Ankit" src="./../assets/ankitsmall.png">
        <div class="content">
            <h2 class="content-heading">Hi There! 
                <img src="./../assets/👋.svg" alt="wave" class="about-wave">
            </h2>
            <p class="text">
                I'm Ankit Mohanty, an UI/UX Designer currently based at Cuttack, Odisha. I have always liked problem solving, especially in digital products. Since childhood, I have always liked to help my friends and family in solving their problems regarding any electronic product. 
                
                <br> <br> I have had my opportunity to work as an UI/UX design intern at <a href="https://drive.google.com/drive/folders/1Hq5ebRfI3a6Ax50lG5PrGHM0JtE9gVAe?usp=sharing" class="medclick" target="_blank">MedClick Pvt. Ltd.</a>  
                
                <br> <br> When I'm not designing you will find me doing photography, playing PC games, reading books or listening to some soft music. 
            </p>
        </div>

    </main>