    <!-- Header -->
    <header class='heading'>
        <h1 class='heading-primary'>Hi, I'm Ankit Mohanty
        </h1>
        <h2 class='heading-secondary'>UI/UX Designer</h2>
        <img class='wave' src='./../assets/👋.svg' alt='wave'>
    </header> <!-- Project showcase -->
    <div class='projects'>
        <figure class='project'> <a href="/arrange.html" target='_blank'><img src='./../assets/Artboard–1@2x.png' alt='imgs' class='p-image'></a>
            <div class='pcaption'> Arrange App<br>Case Study </div>
        </figure>

        <figure class='project'> <img src='./../assets/workin_progress.png' alt='imgs' class='p-image'>
            <div class='pcaption'> Work in progress</div>
        </figure>

        {{!-- <figure class='project'> <img src='./../project_imgs/Artboard–2@2x.png' alt='imgs' class='p-image'>
            <div class='pcaption'> Acme<br>
                Landing Page </div>
        </figure>
        <figure class='project'> <img src='./../project_imgs/Artboard–3@2x.png' alt='imgs' class='p-image'>
            <div class='pcaption'> Aloha<br> UI Design </div>
        </figure>
        <figure class='project'> <img src='./../project_imgs/Artboard–4@2x.png' alt='imgs' class='p-image'>
            <div class='pcaption'> Dogtown<br> Landing Page </div>
        </figure>
        <figure class='project'> <img src='./../project_imgs/Artboard–5@2x.png' alt='imgs' class='p-image'>
            <div class='pcaption'> Foodies Hub<br> UI Design </div> --}}
        </figure>
    </div>